<div class="main_title">
  <h1>Courses</h1>
  <p>We provide the best online documentation in the Market ! </p>
</div>

<div class="row mb-5">
  <div class="col-lg-3 col-sm-4 mt-5 offset-1 ">
    <div class="card box-border" style="width: 18rem;">
      <img class="card-img-top" src="assets/resources/images/slider.png" alt="Angular Image">
      <div class="card-body text-center">
        <h5 class="card-title">Angular</h5>
        <p class="card-text">Angular Works !</p>
        <a href="#" class="btn btn-danger">Start Learning</a>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-sm-4 mt-5 offset-1">
    <div class="card box-border" style="width: 18rem;">
      <img class="card-img-top card-image" src="assets/resources/images/slider.png" alt="Ionic Image">
      <div class="card-body text-center">
        <h5 class="card-title">Ionic</h5>
        <p class="card-text">Ionic Works !</p>
        <a href="#" class="btn btn-success">Start Learning</a>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-sm-4 mt-5 offset-1">
    <div class="card box-border" style="width: 18rem;">
      <img class="card-img-top" src="assets/resources/images/slider.png" alt="Laravel Image">
      <div class="card-body text-center">
        <h5 class="card-title">Laravel</h5>
        <p class="card-text">Laravel Works !</p>
        <a href="#" class="btn btn-primary">Start Learning</a>
      </div>
    </div>
  </div>

</div>

<div class="row mb-5 mobile-hide">
  <div class="col-lg-3 col-sm-4 mt-5 offset-1 ">
    <div class="card box-border" style="width: 18rem;">
      <img class="card-img-top" src="assets/resources/images/slider.png" alt="Angular Image">
      <div class="card-body text-center">
        <h5 class="card-title">JavaScript</h5>
        <p class="card-text">JavaScript Works !</p>
        <a href="#" class="btn btn-danger">Start Learning</a>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-sm-4 mt-5 offset-1">
    <div class="card box-border" style="width: 18rem;">
      <img class="card-img-top card-image" src="assets/resources/images/slider.png" alt="Ionic Image">
      <div class="card-body text-center">
        <h5 class="card-title">Jquery</h5>
        <p class="card-text">Jquery Works !</p>
        <a href="#" class="btn btn-success">Start Learning</a>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-sm-4 mt-5 offset-1">
    <div class="card box-border" style="width: 18rem;">
      <img class="card-img-top" src="assets/resources/images/slider.png" alt="Laravel Image">
      <div class="card-body text-center">
        <h5 class="card-title">HTML</h5>
        <p class="card-text">HTML Works !</p>
        <a href="#" class="btn btn-primary">Start Learning</a>
      </div>
    </div>
  </div>

</div>
