.main_title h1{
	font-weight: 500px;
	font-size: 50px;
	color: #000;
	text-align: center;
	padding-top: 30px;
	font-family: 'Galada', cursive;
}

.main_title p{
	font-size: 20px;
	color: #000;
	text-align: center;
}

.card-image{
 height: 5%;
}

.box-border{
  box-shadow: 0 5px 20px 0 rgb(138 155 165 / 50%);
}

@media(max-width: 998px) {
  .mobile-hide{
    display: none;
  }
}
